*.aps
*.assets
*.bak
*.bak.*
*.cache
*.class
*.com
*.dgspec
*.dll
*.dll.config
*.idb
*.iobj
*.ipdb
*.log
*.obj
*.recipe
*.pdb
*.sarif
*.suo
*.targets
*.tlog
*.user

*.old*/
*bak*/
.atom/
.dist/
.idea/
.vs/
.vscode/
